{% extends "base.html" %}

{% block content %}
<header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <span class="name">MY SCHEDULE</span>
                        <hr class="star-light">
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <section class="success" id="about">
    <div class="container">
        <table width = 1200px border = "1">
            <tr>
              <th><header>Course Title</header></th>
              <th><header>Time</header></th>
              <th><header>Room</header></th>
              <th><header>Professor</header></th>
              <th><header>Size</header></th>
            </tr>
            {% for c in courses %}
            <tr>
              <th><p>  {{ c.0 }}  </p></th>
              <th><center><p>   {{ c.1 }}</p></center></th>
              <th><center><p>  {{ c.2 }}</p></center></th>
              <th><center><p>  {{ c.3 }}</p></center></th>
              <th><center><p>  {{ c.4 }}</p></center></th>
            </tr>
            {% endfor %}
            </table>
        </div>
    </section>
    
    <section class="success" id="about"> </section>

{% endblock %}
