{% extends "base.html" %}

{% block content %}
<header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <span class="name">ERROR</span>
                        <hr class="star-light">
                    </div>
                </div>
            </div>
        </div>
    </header>
<body>
<p>My Content</p>    
	<div>
		Account (not) Created Successfully!
		Username error !404
	</div>
	<a href="/auth/createuser.html">Try Again</a>
</body>
{% endblock %}