{% extends "base.html" %}

{% block content %}
<header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <span class="name">HOME</span>
                        <hr class="star-light">
                    </div>
                </div>
            </div>
        </div>
    </header>
<body>
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Welcome, {{full_name}}</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="container-fluid">
                <div class="col-lg-2 ">
				<table><th><header2> Pick your classes! </header2></th></table>
				<form action='/auth/loggedin.html' method='post'>
				{% csrf_token %}
				{{ form.as_p }}
				<input type='submit' value='Submit' />
				</form>
				{% if addMessage %}
    			{{ 'Submitted Form!' }}
				{% endif %}
				</div>
				<div class="col-lg-2">
                    <table width = 800px>
            <tr>
              <th height = 42px><header2>Course Title</header2></th>
              <th height = 42px><header2>Time</header2></th>
              <th height = 42px><header2>Room</header2></th>
              <th height = 42px><header2>Professor</header2></th>
              <th height = 42px><header2>Enrolled Students</header2></th>
            </tr>
            {% for c in courses %}
            <tr>
              <th><p>  {{ c.0 }}  </p></th>
              <th><p>   {{ c.1 }} </p></th>
              <th><p>  {{ c.2 }} </p></th>
              <th><p>  {{ c.3 }} </p></th>
              <th><p>  {{ c.4 }} </p></th>
            </tr>
            {% endfor %}
            </table>
                </div>
            </div>
        </div>
    </section>
</body>
{% endblock %}